
body {
  font-family: "Raleway", sans-serif;
  font-size: 16px;
  color: #333333;
}

h3, h2 {
  font-family: "Montserrat", sans-serif;
  font-weight: 300;
  text-transform: uppercase;
}

/* --------------------------------------------------------------------------- Navbar */

/* styling the brand logo */
.navbar-brand {
    font-family: "Kristi", cursive;
    font-size: 36px;
    margin-left: 10px;
}

.navbar-light .navbar-brand {
    color: #ffffff;
}

/*  ? didnt know how to remove the bootstrap hover effect from the navbar-brand*/
.navbar-light .navbar-brand:hover {
    color: #ffffff;
}

/* changing navbar to black */
.navbar {
    background-color: #000000;
    /* height: 55px; */
}

/* @media (max-width: 768px) {
    .navbar {
        height: 70px;
    }
    .nav-list {
        background-color: black;
    }
} */

/* styling navbar links */
.navbar-light .navbar-nav .nav-link {
    color: #ffffff;
    text-transform: uppercase;
    font-family: "Montserrat", sans-serif;
    font-weight: 300;
    padding: 18px;
}

/*  ? didnt know how to remove the bootstrap hover effect */
.navbar-light .navbar-nav .nav-link:hover {
    color: #ffffff;
}

/* styling nav cta */
#cta-nav {
    text-transform: uppercase;
    font-family: "Montserrat", sans-serif;
    font-weight: 300;
    padding: 10px 20px;
    margin: 8px;
    background-color: #000000;
    border: 1px solid #ffffff;
}

#cta-nav:hover {
    background-color: #ffffff;
    border: 1px solid #000000;
    color: #000000;
}

/* changing the burger menu to something closer to brand */
.navbar-light .navbar-toggler {
    border-color: #ffffff;
    border-radius: 0px;
}





/* --------------------------------------------------------------------------- Navbar */

/* --------------------------------------------------------------------------- Header */

header {
    background: url('../images/img-header.jpg') no-repeat center center;
    height: 90vh;
}

.header-text {
    margin-top: 30vh;
    background: linear-gradient(90deg, rgba(255, 255, 255, 0.07) 0%, rgba(255, 255, 255, 0.7) 21.41%, rgba(255, 255, 255, 0.7) 78.6%, rgba(255, 255, 255, 0.07) 100%);
    max-width: 500px;
    margin-left: auto;
    margin-right: auto;
}

.header-logo-text {
    font-family: "Kristi", cursive;
    font-size: 100px;
    color: #000000;
}

.header-h3-text {
    font-size: 30px;
    color: #000000;
}

.cta-black {
    text-transform: uppercase;
    font-family: "Montserrat", sans-serif;
    background-color: #000000;
    border: 1px solid #000000;
    padding: 10px 20px;
    font-size: 16px;
    font-weight: 300;
    color: #ffffff;
    display: block;
    margin: 10px auto;
}

.cta-black:hover{
    background-color: #ffffff;
    border: 1px solid #000000;
    color: #000000;
}

header .cta-black {
    margin-bottom: 5%;
    margin-top: 3%;
}

@media (max-width: 415px) {
    .header-logo-text {
        font-size: 85px;
    }
    .header-h3-text {
        font-size: 25px;
    }
}

@media (max-width: 320px) {
    .header-logo-text {
        font-size: 75px;
    }
    .header-h3-text {
        font-size: 20px;
    }
}


/* --------------------------------------------------------------------------- Header */

/* --------------------------------------------------------------------------- About */

.div-about {
    margin: 8% 8% 0 8%;
}

.div-about-text-1 {
    text-align: right;
}

.div-about-text-2 {
    text-align: left;
}

.section-about p {
    margin-top: 3%;
}

strong {
    font-weight: 500;
}

.div-about-text-2 .cta-black {
    float: left;
}

.div-about-img {
    width: 100%;
    /* margin: 0 auto; */
}

.dish-label {
    float: right;
}

.dish-label-icon {
    display: inline;
    margin: 2% 0;
}

.dish-label-icon img {
    width: 30px;
    height: 30px;
}

/* --------------------------------------------------------------------------- About */


/* --------------------------------------------------------------------------- Reviews */

.reviews-h2-text, .opening-hours-h2-text {
    margin-top: 8%;
    font-size: 30px;
    text-align: center;
}


.quote {
    font-style: italic;
    text-align: center;
    width: 200px;
    margin: 5% auto;
}

.quote-by {
    text-align: center;
}


.div-reviews img {
    border-radius: 50%;
    max-width: 120px;
    max-height: 120px;
    margin: 5% auto;
    display: block;
}


/* --------------------------------------------------------------------------- Reviews */


/* --------------------------------------------------------------------------- Opening Hours */

.div-opening-hours {
    background: url('../images/img-footer.jpg') no-repeat center center;
    background-size: cover;
    height: 300px;
}

.div-opening-hours p {
    text-align: center;
}

/* --------------------------------------------------------------------------- Footer */

footer {
    min-height: 145px;
    background-color: #000000;
}

footer p {
    color: #ffffff;
}

/* styling footer cta */
#cta-footer {
    text-transform: uppercase;
    font-family: "Montserrat", sans-serif;
    font-weight: 300;
    padding: 10px 20px;
    margin: 8px;
    background-color: transparent;
    border: 1px solid #ffffff;
    color: #ffffff;
}

#cta-footer:hover {
    background-color: #ffffff;
    border: 1px solid #000000;
    color: #000000;
}

/* .social-icon {
    display: inline;
}

.social-icon i {
    width: 50px;
    height: 50px;
    background-color: white;
} */

