
body {
  font-family: "Raleway", sans-serif;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Montserrat", sans-serif;
  font-weight: 300;
}

/* --------------------------------------------------------------------------- Navbar */

.navbar {
    background-color: beige;
}

.navbar-brand {
    font-family: "Kristi", cursive;
    font-size: 36px;
}

.navbar-light .navbar-brand {
    color: white;
}

.navbar {
    background-color: black;
}

nav ul li {
    text-transform: uppercase;
    font-family: "Montserrat", sans-serif;
}

a .nav-link {
    color: white;
}



/* --------------------------------------------------------------------------- Navbar */