
body {
  font-family: "Raleway", sans-serif;
  font-size: 16px;
  color: #333333;
}

h3,
h2,
h5 {
  font-family: "Montserrat", sans-serif;
  font-weight: 300;
  text-transform: uppercase;
}

h2 {
    font-size: 30px;
}

@media (max-width: 992px) {
    h2 {
        font-size: 1.5rem;
    }
}

h5 {
    font-size: 16px;
}

.decoration {
    margin: 2.5% 0;
}

@media (min-width: 993px) {
    .decoration {
        margin: 7% 0;
    }
}

@media (max-width: 992px) {
    .decoration {
        margin: 10% 0;
    }
}

@media (max-width: 610px) {
    .decoration {
        margin: 15% 0;
    }
}

@media (max-width: 390px) {
    .decoration {
        margin: 20% 0;
    }
}

.decoration img {
    width: 35%;
    max-width: 270px;
    min-width: 200px;
    display: block;
    margin: auto;
    /* svg colour by using CodePen converter */
    filter: invert(96%) sepia(0%) saturate(0%) hue-rotate(27deg) brightness(91%) contrast(89%);
}

/* --------------------------------------------------------------------------- Navbar */

/* styling the brand logo */
.navbar-brand {
    font-family: "Kristi", cursive;
    font-size: 40px;
    margin-left: 10px;
}

.navbar-light .navbar-brand {
    color: #ffffff;
}

/*  ? didnt know how to remove the bootstrap hover effect from the navbar-brand*/
.navbar-light .navbar-brand:hover {
    color: #ffffff;
}

/* changing navbar to black */
.navbar {
    background-color: #000000;
    /* height: 55px; */
}

/* @media (max-width: 768px) {
    .navbar {
        height: 70px;
    }
    .nav-list {
        background-color: black;
    }
} */

/* styling navbar links */
.navbar-light .navbar-nav .nav-link {
    color: #ffffff;
    text-transform: uppercase;
    font-family: "Montserrat", sans-serif;
    font-weight: 300;
    padding: 18px;
}

/*  ? didnt know how to remove the bootstrap hover effect */
.navbar-light .navbar-nav .nav-link:hover {
    color: #ffffff;
}

/* styling nav cta */
#cta-nav {
    text-transform: uppercase;
    font-family: "Montserrat", sans-serif;
    font-weight: 300;
    padding: 10px 20px;
    margin: 8px;
    background-color: #000000;
    border: 1px solid #ffffff;
    outline:none;

    transition: all .3s ease-in-out;
    -moz-transition: all .3s ease-in-out;
    -webkit-transition: all .3s ease-in-out;
}

#cta-nav:hover {
    background-color: #ffffff;
    border: 1px solid #000000;
    color: #000000;
}

/* changing the burger menu to something closer to brand */
.navbar-light .navbar-toggler {
    border-color: #ffffff;
    border-radius: 0px;
}





/* --------------------------------------------------------------------------- Navbar */

/* --------------------------------------------------------------------------- Header */

header {
    background: url('../images/img-header.jpg') no-repeat center center;
    height: 85vh;
    background-size: cover;
}


.header-text {
    margin-top: 30vh;
    background: linear-gradient(90deg, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 0.7) 21.41%, rgba(255, 255, 255, 0.7) 78.6%, rgba(255, 255, 255, 0) 100%);
    max-width: 600px;
    margin-left: auto;
    margin-right: auto;
}

.header-logo-text {
    font-family: "Kristi", cursive;
    font-size: 100px;
    color: #000000;
}

.header-h3-text {
    font-size: 30px;
    color: #000000;
}

.cta-black {
    text-transform: uppercase;
    font-family: "Montserrat", sans-serif;
    background-color: #000000;
    border: 1px solid #000000;
    padding: 10px 20px;
    font-size: 16px;
    font-weight: 300;
    color: #ffffff;
    display: block;
    margin: 10px auto;
    outline:none;
    
    transition: all .3s ease-in-out;
    -moz-transition: all .3s ease-in-out;
    -webkit-transition: all .3s ease-in-out;
}

.cta-black:hover{
    background-color: #ffffff;
    border: 1px solid #000000;
    color: #000000;
    text-decoration: none;

}

header .cta-black {
    margin-bottom: 5%;
    margin-top: 3%;
}

@media (max-width: 415px) {
    .header-logo-text {
        font-size: 85px;
    }
    .header-h3-text {
        font-size: 25px;
    }
}

@media (max-width: 320px) {
    .header-logo-text {
        font-size: 75px;
    }
    .header-h3-text {
        font-size: 20px;
    }
}


/* --------------------------------------------------------------------------- Header */

/* --------------------------------------------------------------------------- About */

.div-about, .div-about-menu {
    margin-top: 5%
}

.div-about-text-1 {
    text-align: right;
    margin: 0 auto;
    max-width: 550px;
}

strong {
    font-weight: 500;
}

.div-about-img {
    display: block;
    margin: 0 auto;
    width: 100%;
    max-width: 550px;
    box-shadow: 2px 2px 13px rgba(0, 0, 0, 0.12);
}

.dish-label-icon {
    display: inline;
    margin-left: 3%;
}

.dish-label-icon img {
    width: 30px;
    height: 30px;
}

.dish-label {
    margin-top: 2%;
}

.div-about-text-2 {
    text-align: left;
    margin: 0 auto;
    max-width: 550px;
}

.section-menu {
    background-color: #fafafa;  
}

.div-about-menu {
    padding: 40px 0;
} 

.div-about-text-2 .cta-black {
    float: left;
    margin-bottom: 0;
}

.section-about p, .section-menu p {
    margin-top: 3%;
}

@media (max-width: 992px) {
    .div-about-text-1 {
        text-align: left;
    }

    .div-about-img {
        margin: 5% auto;
    }

    .dish-label-icon {
    margin-left: 0;
    margin-right: 3%;
    }
}

/* --------------------------------------------------------------------------- About */


/* --------------------------------------------------------------------------- Reviews */

.div-reviews {
    margin-top: 5%;
}
.reviews-h2-text {
    text-align: center;
}

.reviews {
    margin: 5% auto 0 auto;
}

.review {
    margin: 0 auto;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.14);
    max-width: 350px;
    min-height: 380px;
    border-bottom: 3px solid #333333;
}

@media (max-width: 992px) {
    .review {
        margin: 5% auto;
    }
}

.quote {
    font-style: italic;
    text-align: center;
    max-width: 270px;
    margin: 5% auto;
}

.quote-by {
    text-align: center;
}

.review img {
    border-radius: 50%;
    max-width: 125px;
    max-height: 125px;
    margin: 10% 0 10% 33%;
}

.review hr {
    width: 35px;
    border: 0.5px solid #333333;
}


/* --------------------------------------------------------------------------- Reviews */


/* --------------------------------------------------------------------------- Restaurant details */

.div-restaurant-details {
    background: url('../images/img-restaurant-details.jpg') no-repeat center center;
    background-size: cover;
    min-height: 600px;
    margin-top: 5%;
}

.div-restaurant-contact {
    max-width: 410px;
    min-height: 475px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.14);
    background-color: #FFFFFF;
    margin-top: 5%;
}

.opening-hours-h2-text, .contact-h2-text {
    margin-top: 8%;
    /* font-size: 30px; */
    text-align: left;
}

.div-opening-hours .cta-black {
    float: left;
}

.div-contact, .div-opening-hours {
    margin: 10% 10%;
}

.div-contact p {
    line-height: 245%;
}

pre {
    font-family: inherit;
    font-size: inherit;
    color: inherit;
    margin: 0;
}

.svg-contact-icon {
    width: 20px;
    height: 20px;
    margin-right: 3%;
}

.bold {
    font-weight: 700;
}

/* --------------------------------------------------------------------------- Restaurant details */


/* --------------------------------------------------------------------------- Footer */

footer {
    min-height: 85px;
    background-color: #000000;
}

footer .container {
    padding-top: 10px;
}

.social-icons {
    margin: 15px auto;
    width: fit-content;
}

i {
    font-size: 25px;
    background-color: #ffffff;
    color: #000000;
    width: 35px;
    height: 35px;
    text-align: center;
    margin: 0 15px;
    padding-top: 5px;
    border: 1px solid transparent;

    transition: all .3s ease-in-out;
    -moz-transition: all .3s ease-in-out;
    -webkit-transition: all .3s ease-in-out;
}

i:hover {
    color: #ffffff;
    text-decoration: none;
    background-color: black;
    border: 1px solid #FFFFFF;
}

.social-icons a {
    color: transparent;
}

footer form {
    margin: 15px auto;
    width: fit-content;
}

input[type="email"] {
    border-radius: 0px;
    max-width: 500px;
    height: 35px;
    border: none;
    margin-bottom: 4px;
    width: 240px;
    display: inline-block;
}

/* styling footer cta */
#cta-footer {
    text-transform: uppercase;
    font-family: "Montserrat", sans-serif;
    font-weight: 300;
    padding: 6px 20px 10px 20px;
    background-color: transparent;
    border: 1px solid #ffffff;
    color: #ffffff;
    height: 35px;
    margin-left: 5px;
    outline:none;

    transition: all .3s ease-in-out;
    -moz-transition: all .3s ease-in-out;
    -webkit-transition: all .3s ease-in-out;
}

#cta-footer:hover {
    background-color: #ffffff;
    border: 1px solid #000000;
    color: #000000;
}

@media (max-width: 416px) {
    input[type="email"] {
        width: 100%;
        margin-left: 5px;
    }
    #cta-footer {
        width: 100%;
        margin-top: 2%;
    }
}

footer p {
    color: #ffffff;
    margin-bottom: 10px;
    width: fit-content;
}

.copyrights {
    margin: 12px auto;
    font-size: 13px;
    width: fit-content;
}

/* --------------------------------------------------------------------------- Footer */

/* --------------------------------------------------------------------------- Modal */

.modal-dialog {
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.14);
    background-color: #FFFFFF;
    font-weight: 300;
}

.form-group {
    margin: 5% auto;
}

.form-group legend {
    font-size: 16px;
    color: #333333;
}

.modal-dialog label, .form-group legend {
    font-family: 'Montserrat', sans-serif;
}

.modal-dialog .form-control, .form-check-label {
    font-size: 13px;
    font-weight: 300;
    color: #495057;
}

.modal-dialog .form-control {
    border-radius: 0px;
}

#exampleFormControlInput2 {
    border: 1px solid #ced4da;
    display: block;
    width: 100%;
}    
